<header>
    <div class="header">
        <img class="logo_header" src="/images/logo/itl.cat_blue-eyes-white-dragon_1547982.png" alt="logo-loja">
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/cards">Jogos</a></li>           
        </ul>
    </div>

</header>