@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dosis:wght@300&family=Hi+Melody&family=Josefin+Sans:wght@200&family=Kdam+Thmor+Pro&family=League+Gothic&family=Mukta:wght@300&family=Nanum+Myeongjo:wght@400;700&family=PT+Sans+Narrow&family=Permanent+Marker&family=Shadows+Into+Light&family=The+Nautigal&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Nanum Myeongjo';
    font-size: 16px;
}